$background-color: #0e050a;
$theme-color: #f0ba43;
$title-color: #fff;
$label-color: #ccc;
$text-dark-color: #626262;
$text-common-color: #fff;
$text-gray-color: #9e9e9e;
$text-light-gray-color: #a1a1a1;
$text-background: #b3b3b3;
$difficult-icon-color: #ffba00;
$tabbar-active-color: $theme-color;
$tabbar-inactive-color: #000;

:export {
    backgroundColor: $background-color;
    themeColor: $theme-color;
    titleColor: $title-color;
    labelColor: $label-color;
    textDarkColor: $text-dark-color;
    textCommonColor: $text-common-color;
    textGrayColor: $text-gray-color;
    textLightGrayColor: $text-light-gray-color;
    textBackground: $text-background;
    difficultIconColor: $difficult-icon-color;
    tabbarActiveColor: $tabbar-active-color;
    tabbarInactiveColor: $tabbar-inactive-color;
}
